table {
    table-layout: fixed;
    width: 70%;
    background-color: #f7c892;
    border: 4px;
    border-color: #000000;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}
table td, th {
    font-size: 16px;
    border: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    height: auto;
}
thead th:nth-child(1) {
    width: 50px;
}
thead th:nth-child(2),
thead th:nth-child(3),
thead th:nth-child(4),
thead th:nth-child(5)
 {
    width: 19%;
}
thead th, tfoot th {
    font-family: "Potta One", cursive;
    overflow: hidden;
    text-overflow: ellipsis;
}
tbody td {
   text-align: center;
   word-wrap: break-word;
}
tbody tr:nth-child(odd) {
    background-color: #f5f2c6cc;
}
tbody tr:nth-child(even) {
    background-color: #fae2facb;
}
caption {
    font-family: "Potta One", cursive;
    font-size: 45px;
    color: #f3bd0a;
    text-decoration: blink;
    text-shadow: #f5dd8d 0 0 10px;
    text-align: center;
}
#event,
#filter {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 40px;
    left: 85%;
    position: fixed;
    font-size: 15px;
}
#event {
    top: 70px;   
}
#filter {
    top: 140px;
}
.buttons {
    color: #000000;
    font-size: 30px;
    width: 30%;
    max-width: 300px;
    height: 30%;
    margin: 0 auto;
    display: none;
    overflow: auto;
    position: fixed;
    top: 20%;
    left: 35%;
}
#event,
#filter,
.buttons {
    border: 2px solid #f3bd0a;
    background-color: #f8e49c;
    box-shadow: 1px 1px 2px #f5dd8d;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
div, form, input {
    text-align: center;
    width: auto;
    padding: 5px;
    margin: 5px;
}
select {
    padding: 2px;
    margin: 5px;
}
.close {
    font-size: 10px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
option {
    font-size: 16px;
}
.basket {
        width: 10px;
        height: 10px;
        cursor: pointer;
        background-image: url(img/basket.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
    }

